/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #282c34;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    margin: 1rem auto;
    max-width: 1200px;
    padding: 0 1rem;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

section h2 {
    margin-top: 0;
    color: #282c34;
    font-size: 2.0rem;
    background-color: #3498db; 
}

.product {
    margin-bottom: 1.5rem;
}

.product img {
    width: 100%; 
    height: auto; 
    max-width: 300px; 
    max-height: 200px; 
    object-fit: cover; 
}


.product h3 {
    color: #fff; 
    background-color: #3498db; 
    padding: 10px;
    border-radius: 5px; 
    font-size: 1.7em;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
}


.product p {
    margin: 0.5rem 4;
    font-size: 1.2em;
}

.product .price {
        font-size: 1.5em;
        color: #e74c3c; 
        font-weight: bold;
        margin: 10px 0;
}

footer {
    background-color: #282c34;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.product img {
    transition: transform 0.9s ease; 
}

.product img:hover {
    transform: scale(1.6); 
}

