/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #282c34;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    margin: 1rem auto;
    max-width: 1200px;
    padding: 0 1rem;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

section h2 {
    margin-top: 0;
    color: #282c34;
}

.product {
    margin-bottom: 1.5rem;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.product h3 {
    margin: 0.5rem 0;
}

.product p {
    margin: 0.5rem 0;
}

.product .price {
    font-size: 1.2rem;
    color: #e63946;
    font-weight: bold;
}

footer {
    background-color: #282c34;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}


/* Contact */

.contact-title {
    text-align: center;
    margin: 20px 0;
    color: #282c34;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    .field {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    
        label {
            font-weight: bold;
            font-size: 18px;
        }
    
        input, textarea {
            padding: 10px 5px;
            width: 100%;
        }
    }

    .send-btn {
        background-color: #282c34;
        color: #fff;
        padding: 15px 50px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        margin-top: 20px;
        font-weight: bold;
    }
}